body {
    min-width: 240px;
}

.container {
	    width: 100vw;
}

.summary-field {
	width: 100%;
}

.btn-group {
    width: 100%;
}

.btn-group button {
    float: left; /* Float the buttons side by side */
    width: 33%;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

