body {
    min-width: 100px;
}

.btn-group {
    width: 100vw;
}

.btn {
	    width: 100%;
}

.btn-group button {
	    display: block;
    /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}
